<!DOCTYPE html>
<html>
  <%- include ../header.ejs %>
  <body>
  <%- include ../includes/nav.ejs %>
   <div class="content">
     <h4>It's time to focus on work :</h4>
     <form>
     <div class="row">
        <div class="input-field col s12">
          <input id="e-mail" type="email" class="validate" name="email">
          <label for="e-mail">e-mail</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <button type="submit" class="btn white blue-text"> Submit </button>
     </form>
   </div>

  </body>
</html>