<!DOCTYPE html>
<html>
  <%- include ../header.ejs %>
  <body>
  <%- include ../includes/nav.ejs %>
   <div class="content">
     <h4 align="center">It's time to focus on work :</h4>
     <form>
     <div class="row">
        <div class="input-field col s12">
          <input id="e-mail" type="email" class="validate" name="email" placeholder="Username">

        </div>
      </div>
       <div class="row" style="margin-top:-20px;">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" placeholder="Password">

        </div>
      </div>
      <button type="submit" class="btn blue white-text btn-large" style="margin-left:100px; "> Log In </button>
     </form>
   </div>

  </body>
</html>