
  <nav class="black">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Troco</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/signup">Register</a></li>
                <li><a href="badges.html">About</a></li>
                <li><a href="collapsible.html">Developer</a></li>
            </ul>
        </div>
    </div>
  </nav>
        