body {
    margin: 0 0;
    padding: 0 0;
    height: 100%;
    width: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("http://ww3.hdnux.com/photos/57/72/30/12559910/3/1024x1024.jpg");
    background-size: cover;
}

.content {
    max-height: 480px;
    max-width: 400px;
    background: #e2e4e6;
    padding: 40px 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(22, 22, 22, .7);
    color: grey;
    margin: 0px auto;
    margin-top: 30px;
}

.content h4 {
    font-size: 26px !important;
}

.reg_bg {
    background: white;
}

input {
    border: 1.5px solid rgb(8, 185, 76) !important;
    font-size: 22px !important;
    padding-left: 20px !important;
    border-radius: 5px !important;
    background: none !important;
}

.content input {
    border: 1.5px solid rgb(8, 185, 76) !important;
    font-size: 22px !important;
    padding-left: 20px !important;
    border-radius: 5px !important;
    background: none !important;
}

.error {
    color: rosybrown;
    background: rgba(222, 22, 22, .7);
    width: 70%;
    margin: 0px auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(22, 22, 22, .7);
    padding: 10px 20px;
}

.error h5 {
    font-size: 14px !important;
}